<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          />
          <br />
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter your username"
          />
          <br />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
          <br />
          <br />
          <button onclick="submit()">Login</button>
          <a href="http://127.0.0.1:3000/patient_signup.html">
            <button>Signup</button>
          </a>
          <p id="backend-res"></p>
        </div>
      </div>
    </div>

    <script>
      function submit() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var data = {
          username: username,
          password: password,
        };
        fetch(`http://127.0.0.1:5000/patient_login`, {
          method: "POST", // details will be posted to the corresponding route / function in python
          credentials: "include", // cookies
          body: JSON.stringify(data), // data to be sent to the server, object 'data' is converted to JSON string
          cache: "no-cache", // no cache included
          headers: new Headers({
            // headers to be included in the request
            "content-type": "application/json",
          }),
        })
          .then(function (response) {
            // response from the server
            if (response.status !== 200) {
              console.log(`Response status was not 200: ${response.status}`);
              let responded = document.getElementById("backend-res"); // getting the paragraph tag
              responded.innerHTML = "Invalid username or password"; // displaying the data in the paragraph tag
              return;
            }
            response.json().then(function (data) {
              //   converting response from the server from json to js object and passing it to then function
              window.location.href =
                "http://127.0.0.1:3000/patient_dashboard.html"; // redirecting to the patient dashboard
              let responded = document.getElementById("backend-res"); // getting the paragraph tag
              responded.innerHTML = "You have successfully logged in"; // displaying the data in the paragraph tag
              console.log("Data sent from backend to the frontend");
              console.log(data); // consoling it to see the data
            });
          })
          .catch(function (error) {
            console.log(`Fetch error: ${error}`);
          });
      }
    </script>
  </body>
</html>
