{% block title %} Patient Signup {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <input
        type="text"
        name="first_name"
        id="fname"
        placeholder="Enter your first name"
      />
      <br />
      <input
        type="text"
        name="last_name"
        id="lname"
        placeholder="Enter your last name"
      />
      <br />
      <input type="number" name="age" id="age" placeholder="Enter your age" />
      <br />
      <input
        type="number"
        name="phone_number"
        id="phone_number"
        placeholder="Enter your phone number"
      />
      <br />
      <input
        type="date"
        name="date_of_birth"
        id="dob"
        placeholder="Enter your date of birth"
      />
      <br />
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter your username"
      />
      <br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
      />
      <br />
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        placeholder="Confirm your password"
      />
      <br />
      <a href="{{url_for('patient_login')}}"
        ><button onclick="submit(event)">Signup</button></a
      >
      <p id="backend-res"></p>
    </div>
  </div>
</div>
<table class="table">
  <tr class="info">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
  </tr>
  <tbody class="tableBody"></tbody>
</table>
{% endblock %} {% block script %}

<script>
  function submit(event) {
    event.preventDefault(); // prevent the default form submission (co-pilot)
    var fname = document.getElementById("fname").value;
    var lname = document.getElementById("lname").value;
    var age = document.getElementById("age").value;
    var phone_number = document.getElementById("phone_number").value;
    var dob = document.getElementById("dob").value;
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm_password").value;
    var data = {
      first_name: fname,
      last_name: lname,
      age: age,
      phone_number: phone_number,
      date_of_birth: dob,
      username: username,
      password: password,
      confirm_password: confirm_password,
    };
    fetch(`${window.origin}/patient_signup/patient_details`, {
      method: "POST", // details will be posted to the corresponding route / function in python
      credentials: "include", // cookies
      body: JSON.stringify(data), // data to be sent to the server, object 'data' is converted to JSON string
      cache: "no-cache", // no cache included
      headers: new Headers({
        // headers to be included in the request
        "content-type": "application/json",
      }),
    })
      .then(function (response) {
        // response from the server
        if (response.status !== 200) {
          return response.json().then(function (data) {
            //   converting response from the server from json to js object and passing it to then function
            let responded = document.getElementById("backend-res"); // getting the paragraph tag
            const data_string = `Error: ${data.error}`; // creating a string to display the data
            responded.innerHTML = data_string; // displaying the data in the paragraph tag
            console.log("Data sent from backend to the frontend");
            console.log(data); // consoling it to see the data
          });
        }
        response.json().then(function (data) {
          window.location.href = "{{ url_for('patient_login') }}"; //co-pilot
          //   converting response from the server from json to js object and passing it to then function
          console.log("Data sent from backend to the frontend");
          console.log(data); // consoling it to see the data
        });
      })
      .catch(function (error) {
        console.log(`Fetch error: ${error}`);
      });
  }
</script>

{% endblock %}
